.alert  {
  background-color: #8484e1;
  margin-left: 120px;
  max-width: 85%;
  height: 40px;
  display: list-itme;
  border-radius: 5px;
  @media screen and (max-width: 950px)  {
    max-width: 60%;
    height: 70px;
  }
  @media screen and (max-width: 460px)  {
    max-width: 60%;
    height: 90px;
  }
  
  p {
    color: #fff;
    padding: 10px 0 0 20px;
    font-size: 1em;
    display: flex;
    justify-content: space-between;
  }
}

#close {
  margin-top: -2px;
  padding: 0 20px 0;
  font-size: 1.25em;
}

 #close:hover  {
      cursor: pointer;
    }